<div class="container pt-3">
  <form (ngSubmit)="submit()" [formGroup]="matrices">
    <div class="row">
      <div class="input-group mb-3" formArrayName="targetFunctionValues">
        <span class="input-group-text" id="inputGroup-sizing-default">Max Z = </span>
        <input *ngFor="let variable of fakeArray(variables); let i = index" type="number" class="form-control variable-value"
          [formControlName]="i" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
    </div>
    <div class="row">
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">St.</span>
        <div class="column" formArrayName="constraintsValues">
          <div class="row" *ngFor="let constraint of getArray('constraintsValues');let i = index"
            [formGroup]="constraint">
            <input *ngFor="let variable of getMatrix('constraintsValues', i); let j = index" type="number" min="0"
              max="9" class="form-control variable-value" [formControl]="variable" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default">
          </div>
        </div>
        <span class="input-group-text" id="inputGroup-sizing-default">=</span>
        <div class="row">
          <div class="input-group mb-3 results" formArrayName="resultValues">
            <input *ngFor="let constraint of fakeArray(constraints); let i = index" type="number" class="form-control variable-value"
            [formControlName]="i" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3 justify-content-center">
      <div class="row justify-content-center">
        <button [disabled]="matrices.invalid" type="submit" class="btn btn-success">Solve</button>
      </div>
    </div>
  </form>
</div>
